@font-face {
  font-family: 'BYekan';
  src: url('/fonts/BYekan.eot?#') format('eot'),
  url('/fonts/BYekan.ttf') format('truetype'),
  url('/fonts/BYekan.woff') format('woff');
}
body *{
  font-family: 'BYekan';
}
#ToDate ,#FromDate{
  direction: ltr;
}
#Agent{
  display: inline-block !important;
    width: auto !important;
    vertical-align: middle !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
}
.easy-autocomplete{
display: inline-block !important;

}
.easy-autocomplete ul{
width: 280px;
padding: 0px;
}